
/* global */


*,
*:after,
*:before{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   }

.container{
      max-width: 1400px;
  } 

body {
    font-family: acumin-pro, sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4,h5, h6 {
    font-family: 'Exo 2', sans-serif !important;
}

.btn{
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.primary-btn{
    background: #D82602;
    color: white;
    padding: 14px 38px;
    }

.primary-btn:hover,
.second-btn:hover{
    background: #000000;
    color: white;
}

.second-btn{
    background: #D82602;
    color: white;
    padding: 15px 30px;
    }

.third-btn{
    background: transparent;
    color: white;
    padding: 15px 30px;
    border: 2px solid white;
    }   
    
 .third-btn:hover{
     background: #000000;
     color: white;
     border: 2px solid #000000;
    }

.fourth-btn{
    background: transparent;
    color: #000000 ;
    padding: 15px 30px;
    border: 1px solid grey;
    }  
    
.fourth-btn:hover{
    background: #000000;
    color: white;
    border: 1px solid #000000;
    }
/* global */



/* Nav */
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }

.navbar .navbar-brand{
    font-size: 60px;
}

.navbar .navbar-nav .nav-link{
    color: #000000;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
/* Nav */


/* Home */
#home{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/home-header-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 200px ;
    width: 100%;
    
    }

#home h1{
     font-size: 84px;
     text-transform: uppercase;
     font-weight: 400;
     }

.home-title span{
    font-weight: 700;
}

#home p{
    color: #e3e3e3;
    font-size: 30px;
    font-family: acumin-pro, sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
/* Home */


/* Qualities */
#qualities{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #e3e3e3;
    border-bottom: 1px solid grey;
}

#qualities .icon-box{
    display: flex;
    border-right: 1px solid grey;
}

#qualities h6{
    color: #333333;
    max-width: 200px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
}
/* Qualities */



/* Stakes */
#stakes{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #e3e3e3;
    background-image: url(../images/stakes-img.png);
    }

#stakes .stakes-body .stakes-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#stakes .stakes-text p{
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Stakes */



/* Services */
#services{
    padding-top: 140px;
    padding-bottom: 140px;
    }

#services .services-title h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}  

#services .service-images img{
    width: 100%;
}

#services .service-images .image-text h6{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
    margin-top: -65px;
    display: flex;
    align-items: flex-end;
    transform: translateX(40px);
}

/* Services */



/* Counter */
#counter{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #e3e3e3;
}

#counter .counter-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#counter .counter-text h3{
    font-size: 84px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#counter .counter-text p{
    font-size: 16px;
    color: #333333;   
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#counter .counter-img img{
    width: 20%;
}

#counter .counter{
       border-right: 1px solid grey;
       height: 100px;
}
/* Counter */



/* Location */
#location{
    padding-top: 140px;
    padding-bottom: 140px;
}

#location .location-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#location p{
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#location .location-image img{
    width: 90%;
}
/* Location */



/* Clients */
#client{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #e3e3e3;
}

#client .client-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#client p{
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#client .client .client-img img{
    background-color: white;
    padding: 30px;
    width: 90%;
}


/* Clients */



/* Team */
#team{
    padding-top: 140px;
    padding-bottom: 140px;
}

#team .team-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#team p{
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#team .team-img img{
    width: 100%;
}

#team .card-box{
    height: 100px;
    width: 340px;
    background-color: #e3e3e3;
    transform: translateY(-50px);
    margin-left: 40px;
}

#team .card-box:hover{
       background-color: #D82602;
    }


#team .card-box h6{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#team .card-box p{
    font-size: 18px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Team */



/* About-Us */
#about-us{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #e3e3e3;
}

#about-us .about-us-image img{
    width: 90%;
}

#about-us .about-us-body .about-us-heading h2{
    font-size: 44px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#about-us .about-us-body .about-us-text p{
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* About-Us */


/* Footer */
.footer-top{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #000000;
}

.footer-top .footer-body{
    border-right: 1px solid #e3e3e3;
}

.footer-top h5{
    font-size: 21px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-top p{
    color: #e3e3e3;
    font-size: 20px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-top .vline{
    border-right: 1px solid #e3e3e3;
    
}

.footer-top .para p{
    color: #e3e3e3;
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.footer-top .social-icons a{
    color: white;
   font-size: 20px;
   padding: 0 5px;
}

.footer-top .capabilities a,
.footer-top .projects a,
.footer-top .nohead a{
    display: block;
}

.footer-top .capabilities a,
.footer-top .projects a,
.footer-top .nohead a{
    text-decoration: none;
    color: #e3e3e3;
    font-size: 18px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-top .nohead a{
    transform: translateX(-100px);
}

.footer-bottom{
    padding-top: 24px;
    padding-bottom: 20px;
    background-color: #333333;
}

.footer-bottom p{
    color: #e3e3e3;
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* Footer */