
/* global */
img{
    width: 100%;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn{
    text-transform: uppercase;
    font-weight: 700;
}

.primary-btn{
    background: #D82602;
    color: white;
    padding: 12px 36px;
    }
/* global */



/* Nav */
.navbar .navbar-brand{
    font-size: 60px;
}

.navbar .navbar-nav .nav-link{
      text-transform: uppercase;
      color: #000000;
      
}
/* Nav */